---
title: "4 Examples of MVCs with big results"
author: Victor Wu
author_gitlab: victorwu
author_twitter: victorwuky
categories: company
image_title: '/images/blogimages/mvcs-big-results.jpg'
description: "Small change, big impact. Here are four recent tweaks to GitLab which exemplify our value of iteration."
tags: features, inside GitLab, open source
---

Iteration is [one of our values](/handbook/values/#iteration), and it's often the hardest to stick to. It’s difficult to determine the smallest feature or update that will still bring additional value to users. The benefit is that we can ship quickly and get feedback from GitLab users within days or weeks, instead of months or quarters.

At GitLab we practice iteration by shipping Minimally Viable Changes (MVCs). This can be a new feature scoped to a small functionality, or incremental improvements on it thereafter. Read more about MVC in our [Product handbook](/handbook/product/#the-minimally-viable-change).

Despite being small, these new features often nonetheless have a big impact. Here are some of our recent MVCs that did just that:

## 1. Function: Assignee lists and milestone lists

Introduced in 11.1, [issue board assignee lists](/2018/06/22/gitlab-11-0-released/#issue-board-assignee-lists) offer a way to monitor team bandwidth right within your issue board, by showing all issues assigned to a specific user. See [4 ways to use GitLab Issue Boards](/2018/08/02/4-ways-to-use-gitlab-issue-boards/#3-team-visibility-with-assignee-lists) for more details, and [check out the documentation for assignee lists here](https://docs.gitlab.com/ee/user/project/issue_board.html#assignee-lists).

In 11.2, we added [milestone lists](/2018/08/22/gitlab-11-2-released/#issue-board-milestone-lists) to allow you to view all issues assigned to a specific milestone. With this visibility, you can move issues across different milestones easily to balance [issue weight](/2018/08/22/gitlab-11-2-released/#summed-weights-in-issue-board-list). View [the documentation for milestone lists here](https://docs.gitlab.com/ee/user/project/issue_board.html#milestone-lists).

## 2. Design: Merge request widget info and pipeline sections redesign

Sometimes it's not new functionality that makes a big difference, but just changing how you view it. In 11.1, we [tweaked the design of the information and pipeline sections](/2018/07/22/gitlab-11-1-released/#merge-request-widget-info-and-pipeline-sections-redesign) in a [merge request](https://docs.gitlab.com/ee/user/project/merge_requests/), making them easier to digest.

![Merge request redesign](/images/11_1/mr-widget-info-pipeline.png){: .shadow.medium.center}

## 3. Navigation: Groups dropdown

Also in 11.1, we made it easier to switch between groups and avoid disruption to your workflow by adding a [dropdown to the groups link in the top navigation](/2018/07/22/gitlab-11-1-released/#groups-dropdown-in-navigation). There's no need to navigate away from your work, and your frequently visited groups are handily displayed for quick access.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

## 4. Shortcut: Confidential issue quick action

[Quick actions](https://docs.gitlab.com/ee/user/project/quick_actions.html) make your GitLab life easier and are easy to contribute! As of 11.1 you can quickly and easily [mark an issue confidential right from the comment field](/2018/07/22/gitlab-11-1-released/#confidential-issue-quick-action), thanks to a community contribution.

Inspired to contribute an MVC yourself? Find out [how to start contributing to GitLab](/contributing/). You can also check out some more [MVCs coming up in 11.3](/2018/08/23/epics-roadmap/).

Photo by [Ravali Yan](https://unsplash.com/photos/fleZeABaSWY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/search/photos/upwards?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)
{: .note}
