---
title: "A deep dive into GitLab's UX design process"
author: Suri Patel
author_gitlab: suripatel
author_twitter: gitlab
categories: culture
image_title: '/images/blogimages/designwebcast.jpg'
description: "The UX team shares how they communicate, plan, share, and tackle improvements one iteration at a time."
tags: ux, webcast, design
twitter_text: "How our fully-remote UX team collaborates - and how you can join them!"
---

The [UX team](/handbook/engineering/ux/#ux-at-gitlab) recently gathered to share
how they collaborate in a fully remote environment. Our team of two UX researchers 
and nine UX designers spans eight countries and six time zones. In this webcast, 
they discussed UX research, community contributions, and hiring, making it an 
excellent resource in helping you learn more about 
[GitLab design](https://gitlab.com/gitlab-org/gitlab-design/#gitlab-design). 

### Watch the webcast

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/6R64hHkkgtE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## What we covered

The UX team generously provided insight into their workflow and projects. Below 
are a few of our favorite takeaways.

### Iteration

At GitLab, [iteration](/handbook/values/#iteration) means making the smallest 
thing possible and getting it out as quickly as possible, helping us reduce the 
cycle time and rapidly get feedback from users so that we can continue to improve 
quickly and efficiently. Planning too far ahead without getting real-world 
feedback can cause you to build something that doesn't meet user needs. 

### UX Research

The goal of UX research is to understand the needs and concerns of users, often 
by observing how they interact with a product or by gathering data through 
various methods. At GitLab, we often use survey research, feasibility testing, 
user interviews, and card sorting to understand our users. We discuss the 
results with product managers to help us prioritize feedback and determine the 
next steps to implement the findings. 

### GitLab Design System

One of the team's major initiatives last year was  the 
[GitLab Design System](https://design.gitlab.com/), which  
includes content guidelines, usability patterns, foundational styles, and reusable 
components. The team shifted its focus towards system thinking to create 
consistency throughout the product and predictability across experiences. The UXers
have been working closely with our frontend team to implement our system 
iteratively. 

Every designer writes usage guidelines during every milestone and 
picks at least one issue within the issue tracker to contribute to the project. 
The design system is open source, just like the rest of GitLab, so everyone is 
encouraged to question any of the decisions we've made or contribute by making 
things clearer or adding missing content.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

### How you can contribute to GitLab’s UX designs

As an open source company, we believe in transparency, so we share almost
everything we do, including source files, artifacts, deliverables, case studies,
[UX research](https://gitlab.com/gitlab-org/ux-research#research-archive), and
our findings. Being open source allows the community to learn from us, and for
us to learn from the community. There are issues that have been
labeled '[Accepting Merge Requests](https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Accepting%20Merge%20Requests&label_name[]=UX)'
and they need some UX work. Most of these are very small issues, making them the
perfect starting point for first-time contributors. If you have an idea for a UX 
improvement, we encourage you to create an issue using the feature proposal 
template to describe the problem you're trying to solve and your proposed solution. 

Our UX researchers encourage community contributions, so if you're interested 
in exploring a research question, you're welcome to create an issue using a 
search proposal template in the 
[UX research project](https://gitlab.com/gitlab-org/ux-research#contributing). 
If you’d like to help shape the future of GitLab, we’d love to invite you to 
join our [research panel](/researchpanel/).

The UX team is happy to chat with you about your contribution,
and we'll try to get back to you as soon as we can.

### Join us!

Our UX team is growing, and we'd love to work with you! We're currently looking
for three UX designers with an interest in our products. So, whether that's the
development side or the operations side, we have a lot going on, and we have
something for everyone. We're recruiting for specific teams, including release
and verify, monitor, and secure teams. If you're interested in working with our
talented (and fun!) UX team, we encourage you [to apply](/jobs)!

----

[Cover image](https://unsplash.com/photos/MGBgTX1Zmpo) by [Chris Barbalis](https://unsplash.com/@cbarbalis), licensed
under [CC X](https://unsplash.com/license).
{: .note}

